* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    background: var(--light-gray);
}

main {
    padding-block: 4.5rem;
    padding-inline: 2rem;
}

h1 {
    font-size: 1.25rem;
    color: var(--cyan);
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #FFF;
    margin-bottom: 1.125rem;
}